/* Custom overrides */
body { padding-top: 56px; }
/* .navbar-nav { flex-wrap: nowrap; overflow-x: auto; }
.navbar-nav .nav-item { margin-right: 1rem; }
.navbar-nav .nav-link { white-space: nowrap; } */

.testimonio-footer{
  
    margin-top: 1rem!important;

}